<ion-header>
  <ion-toolbar>
    <ion-title class="duocicon-background">
      <img src="../../../assets/img/duocicon.png" alt="Duoc Icon" width="250">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: #1A1A1A;">
  <div class="ion-text-center" style="position: absolute; top: 50%; transform: translateY(-50%); width: 100%; color: #FFFFFF;">
    <h1 style="color: #FFFFFF;">Sistema de Asistencia DUOC</h1>
    <img src="../../../assets/img/pulgar_arriba.jpg" alt="Pulgar Abajo" width="360">
    <p>su contraseña es: {{usuario.password}}</p>
    <ion-button  class="boton-largo" (click)="goToLogin()">
      Volver al inicio
    </ion-button>  


  </div>
</ion-content>