<ion-header>
  <ion-toolbar class="toolbar-superior">
    <ion-title #titulo class="font-size-18 ion-text-center">
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="background-image">
  <div class="spinner">
    <span class="spinner-text">Duoc UC</span>
  </div>
  <div class="book">
    <ion-content [fullscreen]="true" #page class="ion-padding-horizontal">

      <ion-toolbar class="ion-padding-top">
        <h1 class="ion-text-center">
          ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!
        </h1>
      </ion-toolbar>
      <ion-toolbar>
        <h4 class="ion-text-center">
          Información Adicional
        </h4>
      </ion-toolbar>
      
      <ion-item #itemCuenta>
        <ion-label class="font-size-16">Cuenta</ion-label>
        <ion-input [(ngModel)]="usuario.cuenta" placeholder="Ingrese su cuenta"></ion-input>
      </ion-item>

      <ion-item #itemNombre>
        <ion-label class="font-size-16">Nombre</ion-label>
        <ion-input [(ngModel)]="usuario.nombre" placeholder="Ingrese su nombre"></ion-input>
      </ion-item>

      <ion-item #itemApellido>
        <ion-label class="font-size-16">Apellido</ion-label>
        <ion-input [(ngModel)]="usuario.apellido" placeholder="Ingrese su apellido"></ion-input>
      </ion-item>

      <ion-item #itemEducacion>
        <ion-label class="font-size-16">Educación</ion-label>
        <ion-input [(ngModel)]="usuario.nivelEducacional.nombre" placeholder="Ingrese su nivel educativo"></ion-input>
      </ion-item>

      <ion-item #itemFechaNacimiento>
        <table>
          <tr>
            <td class="font-size-12">
              Nacimiento
            </td>
            <td class="cell-align-right">
              <input 
                matInput 
                [matDatepicker]="fechaNacimiento" 
                [(ngModel)]="usuario.fechaNacimiento"
                placeholder="dd/mm/yyyy"
                class="date-width">
            </td>
            <td class="cell-width-0">
              <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #fechaNacimiento></mat-datepicker>
            </td>
          </tr>
        </table>
      </ion-item>

      
      <ion-item #itemCorreo>
        <ion-label class="font-size-16">Correo Institucional</ion-label>
        <ion-input [(ngModel)]="usuario.correo" placeholder="Ingrese su correo"></ion-input>
      </ion-item>

      <ion-item #itemContraseña>
        <ion-label class="font-size-16">Contraseña</ion-label>
        <ion-input [(ngModel)]="usuario.password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>

      <ion-item #itemConfirmarContraseña>
        <ion-label class="font-size-16">Confirmar Contraseña</ion-label>
        <ion-input [(ngModel)]="usuario.password" placeholder="Confirme su contraseña"></ion-input>
      </ion-item>

      <ion-toolbar>
        <ion-button expand="full" shape="round" (click)="actualizarDatos()">
          <ion-icon slot="start" name="refresh"></ion-icon>
          Actualizar Datos
        </ion-button>
      </ion-toolbar>
      


      
    </ion-content>
  </div>
</div> 
<ion-footer>
  <ion-toolbar class="ion-padding-horizontal ion-padding-top ion-padding-bottom toolbar-inferior">

    <ion-button   size="small" shape="round" 
              (click)="navegar('/misdatos')"  >
              <ion-icon slot="start" name="person"></ion-icon>
                Mis Datos 
              </ion-button>  

    &nbsp;&nbsp;&nbsp;
    
      <ion-button  size="small" shape="round" 
      (click)="navegar('/inicio')"  >
        <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>

    &nbsp;&nbsp;&nbsp;

      <ion-button  size="small" shape="round" 
      (click)="navegar('/miclase')">
        <ion-icon slot="start" name="qr-code"></ion-icon>
      Mis Clases
    </ion-button>

    &nbsp;&nbsp;&nbsp;

      <ion-button  size="small" shape="round" 
      (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>


  </ion-toolbar>
</ion-footer>