ion-header {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}

ion-input, ion-select {
  color: gray;
  text-align: right;
}



// CGV: El siguiente estilo se agregó para que se pueda mostrar siempre el botón
// del MatDatePicker, puesto que aparecía invisible producto de los colores 
// asociados al Theme escogido al instalar Angular Material
::ng-deep .mat-datepicker-toggle{
  color: blue;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 0px;
}

.font-size-12 {
  font-size: 12px;
  color: gray;
}

.font-size-16 {
  font-size: 16px;
  color: gray;
}

.font-size-18 {
  font-size: 18px;
}

.date-width {
  width: 105px;
}

.cell-align-right {
  text-align: right;
}

.cell-width-0 {
  width: 0px;
}

html, body {
  overflow-y: hidden;
}

main {
  max-height: 100vh; /* Asegura que el contenedor no exceda la altura de la ventana */
  overflow-y: auto;  /* Permite scroll si es necesario */
}

.book {
  width: 80%;
  height: 70%;
  perspective: 1000px;
  margin: 50px auto;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: rgb(4, 21, 44);

}

.page {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 10px solid #ccc;
  position: absolute;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 250px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.background-image {
  background-image: url('/assets/img/sede_padre_alonso.jpg'); /* Ruta a tu imagen */
  background-size: cover; /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
  opacity: 1; /* Define el nivel de transparencia, donde 1 es opaco y 0 es completamente transparente */
  height: 100vh; /* Establece la altura, en este caso, 100% del viewport */
  width: 100vw; /* Establece el ancho */
}

.shadow__btn {
  padding: 20px 40px;
  border: none;
  font-size: 15px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}


/* From Uiverse.io by satyamchaudharydev */
.spinner {
  --size: 30px;
  --first-block-clr: #005bba;
  --second-block-clr: #fed500;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::after, .spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.spinner-text {
  position: absolute;
  font-weight: bold;
  color: var(--clr); /* Usa el color definido en la variable */
  font-size: 16px; /* Tamaño del texto */
  z-index: 10; /* Asegúrate de que esté por encima de los bloques */
  text-align: center;
}

@keyframes down {
  0%, 100% {
    transform: none;
  }

  25% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(100%) translateY(100%);
  }

  75% {
    transform: translateY(100%);
  }
}

@keyframes up {
  0%, 100% {
    transform: none;
  }

  25% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%) translateY(-100%);
  }

  75% {
    transform: translateY(-100%);
  }
}


