<ion-header>
  <ion-toolbar color="black">
    <ion-title #titulo class="font-size-18 ion-text-center">
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="background-image">
  <div class="spinner">
    <span class="spinner-text">Duoc UC</span>
  </div>
  <div class="book" >
    <ion-content [fullscreen]="true" #page class="ion-padding-horizontal">

      <ion-toolbar class="ion-padding-top">
        <h1 class="ion-text-center">
          ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!
        </h1>
      </ion-toolbar>
      <ion-toolbar>
        <h4 class="ion-text-center">
          Información Adicional
        </h4>
      </ion-toolbar>
      
      <ion-item #itemCuenta>
        <ion-label class="font-size-16">Cuenta</ion-label>
        <ion-text>{{ usuario.cuenta }}</ion-text>
      </ion-item>

      <ion-item #itemNombre>
        <ion-label class="font-size-16">Nombre</ion-label>
        <ion-text>{{ usuario.nombre }}</ion-text>
      </ion-item>

      <ion-item #itemApellido>
        <ion-label class="font-size-16">Apellido</ion-label>
        <ion-text>{{ usuario.apellido }}</ion-text>
      </ion-item>

      <ion-item #itemEducacion>
        <ion-label class="font-size-16">Educación</ion-label>
        <ion-text>{{ usuario.nivelEducacional!.nombre }}</ion-text>
      </ion-item>

      <ion-item #itemFechaNacimiento>
        <table>
          <tr>
            <td class="font-size-12">
              Nacimiento
            </td>
            <td class="cell-align-right">
              <input 
                matInput 
                [matDatepicker]="fechaNacimiento" 
                [(ngModel)]="usuario.fechaNacimiento"
                placeholder="dd/mm/yyyy"
                class="date-width">
            </td>
            <td class="cell-width-0">
              <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #fechaNacimiento></mat-datepicker>
            </td>
          </tr>
        </table>
      </ion-item>
    </ion-content>
  </div>
</div>
<ion-footer>
  <ion-toolbar color="black" class="ion-padding-horizontal ion-padding-top ion-padding-bottom">

    <button class="shadow__btn"  size="small" shape="round" 
              (click)="navegar('/misdatos')"  >
              <ion-icon slot="start" name="person"></ion-icon>
                Mis Datos 
              </button>  

    &nbsp;&nbsp;&nbsp;
    
    <button class="shadow__btn" size="small" shape="round" 
    (click)="navegar('/inicio')"  >
      <ion-icon slot="start" name="home"></ion-icon>
    Inicio
  </button>

    &nbsp;&nbsp;&nbsp;

    <button class="shadow__btn" size="small" shape="round" 
    (click)="navegar('/leerqr')">
      <ion-icon slot="start" name="qr-code"></ion-icon>
    Mis Clases
  </button>

    &nbsp;&nbsp;&nbsp;

    <button class="shadow__btn" size="small" shape="round" 
      (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </button>


  </ion-toolbar>
</ion-footer>