<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo class="font-size-18">
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="background-image">
  <div class="book" height=>
    <ion-content [fullscreen]="true" #page class="ion-padding-horizontal">

      <ion-toolbar class="ion-padding-top">
        <h1 class="ion-text-center">
          ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!
        </h1>
      </ion-toolbar>
      <ion-toolbar>
        <h4 class="ion-text-center">
          Información Adicional
        </h4>
      </ion-toolbar>
      
      <ion-item #itemCuenta>
        <ion-input [(ngModel)]="usuario.cuenta"
            label="Cuenta" labelPlacement="floating"
            placeholder="Ej: atorres"></ion-input>
      </ion-item>

      <ion-item #itemNombre>
        <ion-input [(ngModel)]="usuario.nombre" 
            label="Nombre" labelPlacement="floating"
            placeholder="Ej: Ana"></ion-input>
      </ion-item>

      <ion-item #itemApellido>
        <ion-input [(ngModel)]="usuario.apellido"
            label="Apellido" labelPlacement="floating"
            placeholder="Ej: Torres"></ion-input>
      </ion-item>

      <ion-item #itemEducacion>
        <ion-label position="floating" class="font-size-16">Educación</ion-label>
        <ion-select placeholder="Seleccione nivel" 
            [(ngModel)]="usuario.nivelEducacional!.id">
          <ion-select-option *ngFor="let nivelEducacional of listaNivelesEducacionales" 
            [value]="nivelEducacional.id">
              {{nivelEducacional.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item #itemFechaNacimiento>
        <!-- CGV: A continuación se configura el MatDatePicker para la fecha de nacimiento 
          nótese que para que se vea el botón del calendario, se tuvo que modificar el 
          archivo scss
        -->
        <table>
          <tr>
            <td class="font-size-12">
              Nacimiento
            </td>
            <td class="cell-align-right">
              <input 
                matInput 
                [matDatepicker]="fechaNacimiento" 
                [(ngModel)]="usuario.fechaNacimiento"
                placeholder="dd/mm/yyyy"
                class="date-width">
            </td>
            <td class="cell-width-0">
              <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #fechaNacimiento></mat-datepicker>
            </td>
          </tr>
        </table>
      </ion-item>

      <ion-grid class="ion-margin-top">
        <ion-row class="ion-text-center">
          <ion-col col-6>
              <ion-button   shape="round" size="small" style="--background: yellow; --color: black;"  
                  (click)="limpiarAnimandoDerIzq()"  >
                Limpiar 
              </ion-button>  
          </ion-col>
          <ion-col col-6>
            <ion-button shape="round" size="small"
                (click)="limpiarAnimandoRotacion()">
              Limpiar Rotación
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center">
          <ion-col col-6>
            <ion-button shape="round" size="small"
                (click)="animarVueltaDePagina()">
              Vuelta de hoja
            </ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button shape="round" size="small"
                (click)="mostrarDatosPersona()">
              Mostrar datos
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</div>
<ion-footer>
  <ion-toolbar color="primary" class="ion-padding-horizontal ion-padding-top ion-padding-bottom">

    <ion-button shape="square" (click)="navegar('/inicio')" color="tertiary">
      <ion-icon slot="start" name="person"></ion-icon>
      Mis Datos
    </ion-button>
    
    <ion-button shape="square" (click)="navegar('/inicio')" color="tertiary">
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>

    &nbsp;&nbsp;&nbsp;

    <ion-button shape="square" (click)="navegar('/leerqr')" color="tertiary">
      <ion-icon slot="start" name="qr-code"></ion-icon>
      Asistencia
    </ion-button>

    &nbsp;&nbsp;&nbsp;

    <ion-button shape="square" (click)="navegar('/login')" color="tertiary">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>


  </ion-toolbar>
</ion-footer>