<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../../assets/img/duocicon.png" alt="Duoc Icon" width="250">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h1>Sistema de Asistencia DUOC</h1>
    <img src="../../../assets/img/pulgar_abajo.avif" alt="Pulgar Abajo">
    <p>¡Lo sentimos pero los datos ingresados no son correctos!</p>
    <button ion-button class="boton-largo" (click)="goToLogin()">
      Volver al inicio
    </button>
  </div>
</ion-content>