.boton-largo {
  width: 150px; 
  height: 40px; 
  border-radius: 20px; 
  background-color: #F1B634; 
  color: #1A1A1A; 
  font-size: 18px; 
  font-weight: bold; 
  padding: 10px; 
}

.duocicon-background {
  background-color: #F7F7F7;
}