<ion-header>
  <ion-toolbar class="toolbar-superior">
    <ion-title #titulo class="font-size-18 ion-text-center">
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="spinner">
  <span class="spinner-text">Duoc UC</span>
</div>

<ion-content [fullscreen]="true" #page class="ion-padding-horizontal page">

  <!-- <div class="center-container"> -->

    <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
      <ion-icon slot="start" name="videocam-outline"></ion-icon>
      Comenzar Escaneo de QR
    </ion-button>
  
    <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
      <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
      Detener escaneo de QR
    </ion-button>
  
    <video #video [hidden]="!escaneando" width="100%"></video>
    <canvas #canvas hidden></canvas>
  
    <ion-item *ngIf="datosQR">
      <ion-card-header>
        <ion-card-title>Los datos del Código QR son los siguientes:</ion-card-title>
      </ion-card-header>
      <table>
        <tbody>
          <tr>
            <td class="font-size-16">Bloque inicio</td>
            <td class="font-size-16">{{ asistencia!.bloqueInicio }}</td>
          </tr>
          <tr>
            <td class="font-size-16">Bloque Termino</td>
            <td class="font-size-16">{{ asistencia!.bloqueTermino }}</td>
          </tr>
          <tr>
            <td class="font-size-16">Dia</td>
            <td class="font-size-16">{{ asistencia!.dia }}</td>
          </tr>
          <tr>
            <td>Hora Inicio</td>
            <td>{{ asistencia!.horaInicio }}</td>
          </tr>
          <tr>
            <td>Hora Fin</td>
            <td>{{ asistencia!.horaFin }}</td>
          </tr>
          <tr>
            <td>ID Asignatura</td>
            <td>{{ asistencia!.idAsignatura }}</td>
          </tr>
          <tr>
            <td>Nombre Asignatura</td>
            <td>{{ asistencia!.nombreAsignatura }}</td>
          </tr>
          <tr>
            <td>Nombre Profesor</td>
            <td>{{ asistencia!.nombreProfesor }}</td>
          </tr>
          <tr>
            <td>Sección</td>
            <td>{{ asistencia!.seccion }}</td>
          </tr>
          <tr>
            <td>Sede</td>
            <td>{{ asistencia!.sede }}</td>
          </tr>
        </tbody>
      </table>
      
    </ion-item>
    
  <!-- </div> -->

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding-horizontal ion-padding-top ion-padding-bottom toolbar-inferior">

    <ion-button   size="small" shape="round" 
              (click)="navegar('/misdatos')"  >
              <ion-icon slot="start" name="person"></ion-icon>
                Mis Datos 
              </ion-button>  

    &nbsp;&nbsp;&nbsp;
    
      <ion-button  size="small" shape="round" 
      (click)="navegar('/inicio')"  >
        <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>

    &nbsp;&nbsp;&nbsp;

      <ion-button  size="small" shape="round" 
      (click)="navegar('/leerqr')">
        <ion-icon slot="start" name="qr-code"></ion-icon>
      Mis Clases
    </ion-button>

    &nbsp;&nbsp;&nbsp;

      <ion-button  size="small" shape="round" 
      (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>


  </ion-toolbar>
</ion-footer>
