<ion-header>
  <ion-toolbar class="toolbar-superior">
    <ion-title #titulo class="font-size-18 ion-text-center">
      Sistema de Asistencia DUOC
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="spinner">
  <span class="spinner-text">Duoc UC</span>
</div>

<ion-content [fullscreen]="true" #page class="ion-padding-horizontal page">

  <!-- <div class="center-container"> -->

    <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
      <ion-icon slot="start" name="videocam-outline"></ion-icon>
      Comenzar Escaneo de QR
    </ion-button>
  
    <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
      <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
      Detener escaneo de QR
    </ion-button>
  
    <video #video [hidden]="!escaneando" width="100%"></video>
    <canvas #canvas hidden></canvas>
  
    <ion-item *ngIf="datosQR">
      <ion-card-header>
        <ion-card-title>Los datos del Código QR son los siguientes:</ion-card-title>
      </ion-card-header>
      <tr>
        <td class="ancho_columna_titulos">Bloque de Inicio</td>
        <td>{{bloqueInicio}}</td>
      <tr>
      <tr>
        <td>Bloque Termino</td>
        <td>{{bloqueTermino}}</td>
      <tr>
      <tr>
        <td>Día</td>
        <td>{{dia}}</td>
      <tr>
      <tr>
        <td>Hora de Fin</td>
        <td>{{horaFin}}</td>
      <tr>
      <tr>
        <td>Hora de Inicio</td>
        <td>{{horaInicio}}</td>
      <tr>
      <tr>
        <td>Sigla</td>
        <td>{{idAsignatura}}</td>
      <tr>
      <tr>
        <td>Nombre de Asignatura</td>
        <td>{{nombreAsignatura}}</td>
      <tr>
      <tr>
        <td>Nombre del Profesor</td>
        <td>{{nombreProfesor}}</td>
      <tr>
      <tr>
        <td>Sección</td>
        <td>{{seccion}}</td>
      <tr>
      <tr>
        <td>Sede</td>
        <td>{{sede}}</td>
      <tr> 
      
    </ion-item>
    
  <!-- </div> -->

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-padding-horizontal ion-padding-top ion-padding-bottom toolbar-inferior">

    <ion-button   size="small" shape="round" 
              (click)="navegar('/misdatos')"  >
              <ion-icon slot="start" name="person"></ion-icon>
                Mis Datos 
              </ion-button>  

    &nbsp;&nbsp;&nbsp;
    
      <ion-button  size="small" shape="round" 
      (click)="navegar('/inicio')"  >
        <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-button>

    &nbsp;&nbsp;&nbsp;

      <ion-button  size="small" shape="round" 
      (click)="navegar('/miclase')">
        <ion-icon slot="start" name="qr-code"></ion-icon>
      Mis Clases
    </ion-button>

    &nbsp;&nbsp;&nbsp;

      <ion-button  size="small" shape="round" 
      (click)="navegar('/login')">
      <ion-icon slot="start" name="log-out"></ion-icon>
      Salir
    </ion-button>


  </ion-toolbar>
</ion-footer>